codegen/.idea/
codegen/target/
TRCharts/TRCharts.xcodeproj/xcuserdata/
TRChartsObjc/TRChartsObjc.xcodeproj/xcuserdata/
TRChartsObjcSandbox/TRChartsObjcSandbox.xcodeproj/xcuserdata/
Source/
TRChartsJava/obj/
TRChartsJava/libs/
TRChartsJava/res/
TRChartsJavaSandbox/bin/
TRChartsJavaSandbox/gen/
TRChartsJavaSandbox/libs/
TRChartsJavaSandbox/res/
TRChartsJava/bin/
TRChartsJava/gen/
TR3DUtils/TR3DUtils.framework
lib/
build/
Example/
Charts/TRChartsAndroidSandbox/TRChartsJava/
.gradle
gradle
local.properties
.idea
.DS_Store
*.iml
*.o
*.d
*.a
*.so